In [1]:
connection_url = "mysql://root:l4t2XgKaO0xpihjbvUSd@containers-us-west-29.railway.app:7419/railway"

In [2]:
from urllib.parse import urlparse

In [3]:
url = urlparse(connection_url)

In [15]:
from mysql.connector import connect

connection = connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:]
)

In [9]:
connection = connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:]
)

cur = connection.cursor()
cur.execute("INSERT INTO users (username, password) VALUES ('bob', 'asdf')")
connection.commit()
connection.close()

In [16]:
connection.is_connected()

True

In [6]:
connection.close()

In [23]:
get_db_connection = lambda: connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:]
)

In [24]:
conn = get_db_connection()

In [25]:
conn
conn.is_connected()

True

In [26]:
with get_db_connection() as conn:
  with conn.cursor() as cur:
    cur.execute("INSERT INTO users (username, password) VALUES ('anastasia', 'diso');")
    conn.commit()

In [27]:
get_db_connection = lambda: connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:],
    autocommit=True
)

In [28]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("INSERT INTO users (username, password) VALUES ('colin', 'boss');")

In [29]:
conn.is_connected()

False

In [30]:
query = "INSERT INTO users (username, password) VALUES (%s, %s);"

In [31]:
users = [
  ("bob", "dolphin12"),
  ("rolf", "sdf2"),
  ("anne", "poyntz"),
]

In [32]:
with get_db_connection() as conn:
  with conn.cursor() as cur:
    cur.executemany(query, users)

In [33]:
new_usr = ("jose", "1234")
with get_db_connection() as conn:
  with conn.cursor() as cur:
    cur.execute(query, new_usr)

In [34]:
millions_of_users = [
    ("many", "more"),
    ("users", "here"),
    ("almost", "ad"),
    ("infinitum", "forevermore")
]

In [35]:
type(query)

str

In [38]:
conn = get_db_connection()

In [39]:
cur = conn.cursor(prepared=True)

In [40]:
type(cur)

mysql.connector.cursor_cext.CMySQLCursorPrepared

In [41]:
with get_db_connection() as conn:
    with conn.cursor(prepared=True) as cur:
        cur.executemany(query, millions_of_users)

Let's Fetch

In [42]:
conn = get_db_connection()

In [43]:
cur = conn.cursor()

In [44]:
cur.execute("SELECT * FROM users;")

In [45]:
cur.fetchall()

[(1, 'rolf', '1234'),
 (2, 'anne', 'xyz'),
 (3, 'bob', 'asdf'),
 (4, 'anastasia', 'diso'),
 (5, 'colin', 'boss'),
 (6, 'bob', 'dolphin12'),
 (7, 'rolf', 'sdf2'),
 (8, 'anne', 'poyntz'),
 (9, 'jose', '1234'),
 (10, 'many', 'more'),
 (11, 'users', 'here'),
 (12, 'almost', 'ad'),
 (13, 'infinitum', 'forevermore')]

In [47]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM users ORDER BY RAND() LIMIT 1;")
        print(cur.fetchone())

(2, 'anne', 'xyz')

In [48]:
with get_db_connection() as conn:
    with conn.cursor(buffered=True) as cur:
        cur.execute("SELECT * FROM users ORDER BY RAND() LIMIT 2;")
        print(cur.fetchone())

(8, 'anne', 'poyntz')

In [49]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM users LIMIT 3")
        print(cur.fetchall())

[(1, 'rolf', '1234'), (2, 'anne', 'xyz'), (3, 'bob', 'asdf')]

In [50]:
with get_db_connection() as conn:
    with conn.cursor(dictionary=True) as cur:
        cur.execute("SELECT * FROM users LIMIT 3")
        print(cur.fetchall())

[{'id': 1, 'username': 'rolf', 'password': '1234'}, {'id': 2, 'username': 'anne', 'password': 'xyz'}, {'id': 3, 'username': 'bob', 'password': 'asdf'}]

In [53]:
with get_db_connection() as conn:
    with conn.cursor(dictionary=True) as cur:
        cur.execute("SELECT * FROM users LIMIT 3")
        
        for user in cur.fetchall():
          print(user['username'])
          print(user.get('password'))
          print(type(user))

rolf
1234
<class 'dict'>
anne
xyz
<class 'dict'>
bob
asdf
<class 'dict'>

In [54]:
from collections import namedtuple

In [55]:
User = namedtuple("User", "id username password")

In [56]:
user1 = User(1, "johndoe", "secret")

In [57]:
user1.username

'johndoe'

In [58]:
user1.password

'secret'

In [59]:
user1[1]

'johndoe'

In [60]:
with get_db_connection() as conn:
    with conn.cursor(named_tuple=True) as cur:
        cur.execute("SELECT * FROM users LIMIT 1")

        for user in cur.fetchall():
            print(user.username)
            print(type(user))
            print(issubclass(type(user), tuple))

rolf
<class 'mysql.connector.cursor_cext.Row'>
True

In [61]:
DDL = """
drop table if exists posts;

drop table if exists users;

create table users (
    id int auto_increment primary key,
    username varchar(20) not null,
    password varchar(20) not null,
    email varchar(20) not null
);

create table posts (
    id int auto_increment primary key,
    title varchar(20) not null,
    body varchar(20) not null,
    user_id int not null,
    foreign key (user_id) references users(id) on delete cascade);
"""

In [62]:
DDL.split(';')

['\ndrop table if exists posts',
 '\n\ndrop table if exists users',
 '\n\ncreate table users (\n    id int auto_increment primary key,\n    username varchar(20) not null,\n    password varchar(20) not null,\n    email varchar(20) not null\n)',
 '\n\ncreate table posts (\n    id int auto_increment primary key,\n    title varchar(20) not null,\n    body varchar(20) not null,\n    user_id int not null,\n    foreign key (user_id) references users(id) on delete cascade)',
 '\n']

In [64]:
statements = [s.strip() for s in DDL.split(';') if s.strip()]

In [65]:
with get_db_connection() as conn:
  with conn.cursor() as cur:
    for statement in statements:
      cur.execute(statement)

In [66]:
with get_db_connection() as conn:
  with conn.cursor() as cur:
    cur.execute("SHOW TABLES")
    print(cur.fetchall())

[('posts',), ('users',)]

In [67]:
sql_script = """
drop table if exists posts;

drop table if exists users;

create table users (
    id int auto_increment primary key,
    username varchar(20) not null,
    password varchar(20) not null,
    email varchar(20) not null
);

create table posts (
    id int auto_increment primary key,
    title varchar(20) not null,
    body varchar(20) not null,
    user_id int not null,
    foreign key (user_id) references users(id) on delete cascade);

insert into users (username, password, email) values ('johndoe', 'secret', 'jds@gmail.com');
insert into posts (title, body, user_id) values ('post1', 'body1', 1);
"""

In [68]:
def prep_statements_from(script):
  stmts = [s.strip() for s in script.split(';') if s.strip()]
  return stmts

In [69]:
prep_statements_from(sql_script)

['drop table if exists posts',
 'drop table if exists users',
 'create table users (\n    id int auto_increment primary key,\n    username varchar(20) not null,\n    password varchar(20) not null,\n    email varchar(20) not null\n)',
 'create table posts (\n    id int auto_increment primary key,\n    title varchar(20) not null,\n    body varchar(20) not null,\n    user_id int not null,\n    foreign key (user_id) references users(id) on delete cascade)',
 "insert into users (username, password, email) values ('johndoe', 'secret', 'jds@gmail.com')",
 "insert into posts (title, body, user_id) values ('post1', 'body1', 1)"]

In [70]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        for statement in prep_statements_from(sql_script):
            cur.execute(statement)

In [71]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM posts;")
        print(cur.fetchall())

[(1, 'post1', 'body1', 1)]

In [74]:
sql_script = """
drop table if exists posts;

drop table if exists users;

create table users (
    id int auto_increment primary key,
    username varchar(20) not null,
    password varchar(20) not null,
    email varchar(20) not null
);

create table posts (
    id int auto_increment primary key,
    title varchar(20) not null,
    body varchar(20) not null,
    user_id int not null,
    foreign key (user_id) references users(id) on delete cascade);


insert into users (username, password, email) values ('johndoe', 'secret', 'jds@gmail.com');
insert into posts (title, body, user_id) values ('post1', 'body1', 1);
insert into posts (title, body, user_id) values ('post2', 'body2', 1);
insert into posts (title, body, user_id) values ('post3', 'body3', 1);
insert into posts (title, body, user_id) values ('post4', 'body4', 1);
"""

In [72]:
get_db_connection = lambda autocommit = False: connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:],
    autocommit=autocommit  # NOT the default
)

In [73]:
with get_db_connection(autocommit=False) as conn:
    with conn.cursor() as cur:
        cur.execute("INSERT INTO users (username, password, email) VALUES ('johndoe', 'secret', 'js@yahoo.it');")
        conn.commit()